.container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-self: center;

    h1 {
        font-size: 3rem;
    }

    .description {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    }
}

